@use '../styles/variables' as *;

.job-card {
    background: $gray-100;
    border: 1px solid $gray-500;
    border-radius: 6px;
    padding: 16px;
    box-sizing: border-box;
    display: flex;
    font-size: $font-md;
    font-weight: 400;
    color: $gray-800;
    flex-direction: column;
    gap: 8px;

    &:hover {
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    }

    p {
        margin: 0;
    }

    .company-name {
        font-size: $font-xl;
        font-weight: 700;
        color: $gray-1000;
    }

    .job-info {
        color: $gray-1000;

    }

    .job-title,
    .education-level,
    .salary-level {    
        display: flex;
        align-items: center;
        gap: 4px;
    }

    .apply-button {
        font-size: $font-md;
        font-weight: 700;
        border: none;
        background: none;
        cursor: pointer;
        margin-top: auto;
        color: $orange-700;
        &:hover {
            text-decoration: underline;
        }
    }
}