@use '../styles/variables'as *;

.job-description {
    display: flex;
    flex-direction: column;
    gap: $font-xl;
    padding: 0;

    h1 {
        font-size: $font-lg; // 20px
        font-weight: 700;
        color: $gray-1100;
        margin: 0;
    }

    h2,
    h3 {
        font-size: $font-md; // 16px
        font-weight: 400;
        color: $gray-800;
        margin: 0;
    }

    section {
        display: flex;
        flex-direction: column;

        h3 {
            margin-bottom: $font-xl;
        }

        ul {
            margin: 0;
            display: flex;
            padding: 0;
            flex-direction: column;
            gap: 4px;
        }

        li {
            list-style: none;
            font-size: $font-md;
            font-weight: 400;
            color: $gray-800;

            &::before {
                content: "- ";
                margin-right: 4px; // 調整 - 和文字的間距
            }
        }
    }

    >p {
        font-size: $font-md;
        font-weight: 400;
        color: $gray-800;

        margin: 0;

        a {
            color: $orange-700;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}