@use '../styles/variables'as *;

.modal-backdrop {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(4px);
    z-index: 999;
    animation: fadeIn 0.2s ease;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: $gray-100;
    border-radius: 8px;
    width: 90%;
    max-width: 600px;
    max-height: 85vh;
    overflow-y: auto;
    z-index: 1000;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    animation: slideUp 0.3s ease;

    @media (max-width: $mobile-breakpoint) {
        width: 95%;
        max-height: 90vh;
    }
}

.modal-header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid $gray-500;

    h2 {
        margin: 0;
        font-size: $font-xl;
        font-weight: 700;
        color: $gray-1000;
    }


}

.modal-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 8px;
    border-top: 1px solid $gray-400;

    button {
        padding: 8px 11px;
        font-size: $font-md;
        border: none;
        background: none;
        color: $gray-1000;
        cursor: pointer;

        &:hover {
            color: $gray-1400;
        }
    }
}

.modal-body {
    padding: 20px;
    
    .modal-title{
        gap: 8px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        h3{
            font-size: $font-lg;
            font-weight: 700;
            color: $gray-1000;
            margin: 0;
        }
        p{
            font-size: $font-md;
            color: $gray-1000;
            font-weight: 400;
            margin: 0;
        }
    }
}

.modal-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 20px;
}

.job-carousel {
    width: 100%;
    height: 240px;
    margin-bottom: 20px;
    border-radius: 6px;
    overflow: hidden;
    --swiper-navigation-size: 20px;
    --swiper-navigation-color: $gray-100;

    @media (max-width: $mobile-breakpoint) {
        height: 180px;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .swiper-pagination {
        bottom: 12px;
    }

    .swiper-pagination-bullet {
        width: 6px;
        height: 6px;
        background-color: $gray-500;
        border-radius: 18px;
        opacity: 1;
        transition: width 0.3s ease, background-color 0.3s ease;
    }

    .swiper-pagination-bullet-active {
        background-color: $orange-700;
        width: 24px;
    }

}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translate(-50%, -45%);
    }

    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}